@model IEnumerable<Chatter.Models.Blog>
<style>
    .body-content {
        display: grid;
        border: 1px solid lightsteelblue;
        background-color: lightsteelblue;
        width: 50%;
        margin-left: 0;
        height: 100%;
        margin-top: -40px;
    }

    p {
        padding-top: 100%;
    }

    .text {
        color: black;
        font-size: 50px;
        text-align: center;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Board
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
               
            </tr>
        }
    </tbody>
</table>


